.main {
  @include page-padding-inline;

  display: flex;
  flex-direction: column;

  gap: 48px;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.snippets {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  align-self: center;
  gap: 16px;

  > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Pages {
    display: flex;
    gap: 8px;
  }

  &Switcher {
    background-color: #252525;
    color: #d4d4d4;
    border: 1px solid #3a4047;
    font-weight: 400;
    opacity: 1;
    transition: opacity 0.2s, background-color 0.2s;
    border-radius: 4px;
    width: 70px;
    cursor: pointer;

    &:hover:not(:disabled) {
      background-color: #178ca4;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &Item {
    font-weight: 600;
    border-radius: 4px;
    padding: 12px 16px;
    box-sizing: border-box;
    background-color: var(--snippet-hover-bg-color);
    border: 1px solid #3a4047;
    color: var(--color-white);
    cursor: pointer;

    &:not(&Active):hover {
      background-color: #3a4047;
    }

    &Active {
      background-color: #178ca4;
    }
  }
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background-color: #22262c;
  border-radius: 6px;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.32), 0 1.5px 6px -1px #111;

  &Title {
    margin: 0;
  }

  &Content {
    display: flex;
    justify-content: space-between;
  }

  &Item {
    display: flex;
    flex-direction: column;
  }
}

.line {
  border: 1px solid var(--notification-color);
}