.main {
  @include page-padding-inline;

  display: flex;
  flex-direction: column;

  gap: 18px;
}

.head {
  &Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.snippets {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}