.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-bg-color);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  background-color: var(--color-accent);
  width: fit-content;
  border-radius: 20px;
  padding: 4px 12px;
}