.loader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  &Content {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: 1em auto;
    border: 0.3em solid #ddd;
    border-left-color: transparent;
    animation: load8 1.2s infinite linear;
  }
}

.buttonContent {
  height: 1em;
  width: 1em;
  border-width: 0.2em;
  border-style: solid;
  border-color: #ddd;
  border-left-color: transparent;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
