.main {
  display: flex;
  flex-direction: column;
  flex: 1;

  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Inter", sans-serif;
  border-radius: 8px;

  max-width: 384px;
  width: 100%;
  padding: 32px;
  background-color: var(--secondary-bg-color);

  a {
    font-size: 12px;
    color: var(--color-accent);
    @include set-transition;

    
    &:hover {
      color: var(--color-purple);
    }
    
    &.back {
      align-self: center;
    }
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &Item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &Title {
    font-weight: 600;
    font-size: 14px;
  }

  &Description {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.input {
  background-color: var(--primary-bg-color);
  color: var(--color-white);
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid var(--color-accent);
  padding: 8px 40px 8px 16px;
  outline: none;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    border: 1px solid var(--color-accent-hover);
    box-shadow: 0 0 0 1px var(--color-accent-hover);
  }
}

.container {
  position: relative;
}

.text {
  font-size: 14px;

  a {
    font-size: 14px;
  }
}

.button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border-radius: 999px;
  background-color: var(--color-accent);
  border: none;
  color: var(--primary-bg-color);
  height: 40px;

  @include on-tablet {
    font-size: 16px;
  }

  &:hover {
    background-color: var(--color-accent-hover);
  }
}

.eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  right: 10px;
  cursor: pointer;
  border: none;
}

.error {
  margin: 0;
  font-size: 14px;
  color: var(--color-red);
}
