.main {
  display: flex;
  flex-direction: column;
  flex: 1;

  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Inter", sans-serif;
  border-radius: 8px;

  max-width: 384px;
  width: 100%;
  padding: 32px;
  background-color: var(--secondary-bg-color);

  > button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-width: 100%;
  }

  a {
    font-size: 12px;
    color: var(--color-accent);
    @include set-transition;

    &:hover {
      color: var(--color-purple);
    }

    &.back {
      font-size: 13px;
      align-self: center;
    }
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &Item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &Title {
    font-weight: 600;
    font-size: 14px;
  }

  &Description {
    font-weight: normal;
    font-size: 14px;
    margin: 0 0 8px 0;
  }
}

.input {
  background-color: var(--primary-bg-color);
  color: var(--color-white);
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid var(--color-accent);
  padding: 8px 40px 8px 16px;
  outline: none;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    border: 1px solid var(--color-accent-hover);
    box-shadow: 0 0 0 1px var(--color-accent-hover);
  }
}

.container {
  position: relative;
}

.text {
  font-size: 14px;
  margin: 0;

  a {
    font-size: 14px;
  }
}

.button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border-radius: 999px;
  background-color: var(--color-accent);
  border: none;
  color: var(--primary-bg-color);
  height: 40px;

  @include on-tablet {
    font-size: 16px;
  }

  &:hover {
    background-color: var(--color-accent-hover);
  }
}

.eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  right: 10px;
  cursor: pointer;
  border: none;
}

.error {
  margin: 0;
  font-size: 14px;
  color: var(--color-red);

  &Title {
    font-size: 32px;
    margin: 16px;
  }
}

.success {
  color: var(--color-success);
}

.strength {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &-Status {
    @include set-transition(color, 0.4s);
    margin: 0;
    padding: 0;
    font-size: 14px;

    &-Weak {
      color: #ef4444;
    }
    &-Medium {
      color: #fb923c;
    }
    &-Strong {
      color: #10b881;
    }
  }
  &-Line {
    @include set-transition(background-color, 0.4s);
    height: 8px;
    border-radius: 8px;

    &-Weak {
      background-color: #ef4444;
    }
    &-Medium {
      background-color: #fb923c;
    }
    &-Strong {
      background-color: #10b881;
    }
  }
}

.google {
  background-color: var(--primary-bg-color);
  color: var(--color-white);
  border-radius: 8px;
  border: 1px solid var(--color-accent);
  height: 36px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  gap: 16px;

  &:hover {
    background-color: #2F363F;
  }

  .googleIcon {
    width: 20px;
    height: 20px;
  }
}