body {
  background-color: var(--bg-color);
  color: var(--color-white);
  padding: 0;
  margin: 0;
}

main {
  max-width: 1200px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
