$tablet-min-width: 640px;
$desktop-min-width: 1200px;
$content-padding-mobile: 16px;
$content-padding-tablet: 24px;
$content-padding-desktop: 40px;

:root {
  --color-purple: #c586c0;
  --color-white: #d4d4d4;
  --color-accent: #56b6c2;
  --color-accent-hover: #06b6d4;
  
  --bg-color: #1e1e1e;
  --footer-bg-color: #252525;
}
