.main {
  @include page-padding-inline;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 16px;

  &Item {
    @include set-transition(background-color);

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: var(--color-accent);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);

    color: var(--primary-bg-color);

    border-radius: 99px;
    padding: 16px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: var(--color-accent-hover);
    }
  }
}

.copy {
  border: 1px solid #6c7075;
  background-color: var(--secondary-bg-color);
  color: var(--color-white);

  &:hover {
    background-color: var(--snippet-hover-bg-color);
  }
}

.details {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg-color);
  border-radius: 6px;
  padding: 16px;
  box-sizing: border-box;

  &Title {
    margin: 8px;
  }

  &Item {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &Info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 16px;
  }
}

.tags {
  display: flex;
  gap: 8px;
}

.line {
  border: 1px solid var(--notification-color);
  margin: 8px;
}

.type {
  color: var(--color-accent);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-bottom: 16px;

  &Item {
    display: flex;
    gap: 8px;
    text-transform: capitalize;
    font-size: 14px;
  }
}

.text {
  margin: 0;
}

.key {
  font-family: "Space Mono", monospace;
  line-height: 1.4;
  vertical-align: middle;
}

.value {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  vertical-align: middle;
  position: relative;
  top: 1px;
}