@use "../../styles/mixins" as *;
.editor {
  display: flex;
  flex-direction: column;
  font-size: 14px;

  width: 100%;
  max-width: 672px;
  min-height: 150px;

  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;

  background-color: var(--secondary-bg-color);

  @include on-desktop {
    min-height: 300px;
  }
}