.toast {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 48px;
  right: 0;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background-color: var(--notification-color);
  color: var(--secondary-text-color);
  min-width: 300px;
  padding: 12px;

  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  @include on-desktop {
    top: 54px;
  }

  opacity: 0;
  transform: translateX(100%);
}

.button {
  position: relative;
  z-index: 10;
  border: none;
  background-color: transparent;
  color: var(--color-white);
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.message {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  font-size: 14px;
}

.info {
  border-left: 4px solid var(--color-accent);
}

.success {
  border-left: 4px solid var(--color-success);
}

.error {
  border-left: 4px solid var(--color-red);
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

.exiting {
  opacity: 0;
  transform: translateX(100%); 
}
