.main {
  @include page-padding-inline;
}

.form {
  &Item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.dropdown {
  position: relative;

  &Trigger {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 40px;
    padding-inline: 12px;
    border: 1px solid var(--color-accent);

    color: var(--color-white);

    background-color: var(--dropdown-bg-color);

    &:hover:not(&Active) {
      border-color: var(--dropdown-hover-border);
    }

    &Active {
      border-color: var(--dropdown-active-border);
    }
  }

  &Menu {
    position: absolute;
    top: 46px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 100%;
    padding-block: 8px;
    border: 1px solid var(--color-accent);

    background-color: var(--secondary-bg-color);
    box-shadow: 0 2px 15px 0 #0000000d;
    z-index: 999;
  }

  &Item {
    cursor: pointer;

    display: flex;
    align-items: center;

    max-width: 100%;
    height: 32px;
    padding-inline: 12px;
    border: none;

    color: var(--color-secondary);

    background-color: inherit;

    &:hover {
      color: var(--color-primary);
      background-color: var(--dropdown-item-hover-bg);
    }
  }
}

.container {
  display: flex;
}