.main {
  @include page-padding-inline;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &Item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
  }
}

.dropdown {
  position: relative;

  &Trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    padding: 8px 40px 8px 16px;
    border: 1px solid var(--color-accent);
    border-radius: 6px;

    font-size: 16px;
    color: var(--color-white);

    background-color: var(--dropdown-bg-color);

    cursor: pointer;

    &:hover:not(&Active) {
      border-color: var(--dropdown-hover-border);
    }

    &Active {
      border-color: var(--dropdown-active-border);
    }
  }

  &Menu {
    position: absolute;
    top: 46px;
    z-index: 999;

    display: flex;
    flex-direction: column;

    width: 100%;
    box-sizing: border-box;
    padding-block: 8px;

    border: 1px solid var(--color-purple);
    border-radius: 6px;

    background-color: var(--secondary-bg-color);
    box-shadow: 0 2px 15px 0 #0000000d;
  }

  &Item {
    display: flex;
    align-items: center;
    background-color: inherit;
    border: none;
    color: var(--color-secondary);
    cursor: pointer;
    height: 32px;
    max-width: 100%;
    padding-inline: 12px;

    &:hover {
      background-color: var(--dropdown-item-hover-bg);
      color: var(--color-primary);
    }
  }
}

.container {
  display: flex;
  gap: 24px;
}