.main {
  @include page-padding-inline;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &Item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
  }
}

.dropdown {
  position: relative;

  &Trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;

    padding: 8px 40px 8px 16px;
    border: 1px solid var(--color-accent);
    border-radius: 6px;

    font-size: 16px;
    color: var(--color-white);

    background-color: var(--dropdown-bg-color);

    cursor: pointer;

    &:hover:not(&Active) {
      border-color: var(--dropdown-hover-border);
    }

    &Active {
      border-color: var(--dropdown-active-border);
    }
  }

  &Menu {
    position: absolute;
    top: 46px;
    z-index: 999;

    display: flex;
    flex-direction: column;

    width: 100%;
    box-sizing: border-box;
    padding-block: 8px;

    border: 1px solid var(--color-purple);
    border-radius: 6px;

    background-color: var(--secondary-bg-color);
    box-shadow: 0 2px 15px 0 #0000000d;
  }

  &Item {
    display: flex;
    align-items: center;
    background-color: inherit;
    border: none;
    color: var(--color-secondary);
    cursor: pointer;
    height: 32px;
    max-width: 100%;
    padding-inline: 12px;
    font-size: 14px;

    &:hover {
      background-color: var(--dropdown-item-hover-bg);
      color: var(--color-primary);
    }
  }
}

.container {
  display: flex;
  gap: 24px;
}

.visibility {
  display: flex;
  align-items: center;
  width: 280px;
  border: 1px solid var(--color-accent);
  height: 36px;
  border-radius: 6px;
  padding: 0 8px;
  gap: 8px;

  &State {
    font-size: 14px;
  }
}

.checkbox {
  width: 16px;
  height: 16px;
}

.hint {
  font-size: 12px;
  color: #9ca3af;
}

.textarea {
  border: 1px solid var(--color-accent);
  border-radius: 6px;
  background-color: var(--primary-bg-color);
  color: var(--color-white);
  padding: 8px 40px 8px 12px;
  width: 50%;
  height: 100px;
  max-width: 500px;
  max-height: 150px;
  outline: none;
  box-sizing: border-box;
}

.error {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--color-red);
}

.tag, 
.language {
  max-width: 280px;
}

.tagsList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}