.logo {
  color: var(--color-accent);
}

.large {
  font-size: 24px;
  font-weight: 700;

  @include on-tablet {
    font-size: 28px;
  }

  @include on-tablet {
    font-size: 32px;
  }
}

.small {
  font-weight: 700;
  font-size: 16px;

  @include on-tablet {
    font-size: 20px;
  }
}
