.main {
  @include page-padding-inline;
  padding-top: 80px;

  &Content {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  h3 {
    margin: 0;
  }
}

.head {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--secondary-bg-color);
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0 2px 16px 0 rgba(20, 20, 20, 0.24),
    0 1.5px 4px 0 rgba(0, 0, 0, 0.2);
}

.avatar {
  padding: 16px;

  &Content {
    width: 56px;
    height: 56px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
  }
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--notification-color);

  &Info {
    display: flex;
    flex-direction: column;
  }
}

.nav {
  display: flex;
  height: 36px;
  border-bottom: 1px solid var(--notification-color);

  &List {
    display: flex;
    gap: 40px;
  }

  &Item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a8a8a8;
    transition: color 0.2s linear;
    font-size: 14px;
    font-weight: 600;
    height: 100%;
    padding-inline: 6px;

    &:not(&Active):hover {
      color: var(--color-white);
    }

    &Active {
      position: relative;
      color: var(--color-accent);

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        border-radius: 2px;
        background: var(--color-accent);
        border-radius: 2px;
      }
    }
  }
}

.username {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #999999;
}

.container {
  display: flex;
  align-items: center;
}

.editButtons {
  display: flex;
  gap: 16px;

  &Button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    padding: 16px;
    background-color: var(--color-accent);
    border: none;
    border-radius: 99px;
    height: 40px;
    cursor: pointer;
  }
  &Logout {
    background-color: var(--color-red);
    color: #fff;
    box-shadow: 0 2px 12px 0 rgba(229, 57, 53, 0.18),
      0 1.5px 4px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid var(--color-red);
    box-sizing: border-box;
    transition: background-color 0.18s, color 0.18s, border-color 0.18s;

    &:hover,
    &:focus {
      border: 1px solid #ef5350;
      background-color: #ef5350;
      color: #fff;
    }
  }
}

.profile {
  display: flex;
  gap: 24px;

  &Details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;

    background-color: var(--secondary-bg-color);
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 2px 16px 0 rgba(20, 20, 20, 0.24),
      0 1.5px 4px 0 rgba(0, 0, 0, 0.2);

    &Item {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &Title {
      color: var(--color-accent);
      border-bottom: 1px solid var(--notification-color);
      padding-bottom: 6px;
    }

    &Content {
      font-size: 14px;
    }
  }

  &Statistics {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
    background-color: var(--secondary-bg-color);
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 2px 16px 0 rgba(20, 20, 20, 0.18),
      0 1.5px 4px 0 rgba(0, 0, 0, 0.12);

    &Title {
      margin: 0 0 8px 0;
      color: var(--color-accent);
      font-size: 18px;
      border-bottom: 1px solid var(--notification-color);
      padding-bottom: 6px;
      width: 100%;
    }

    &Content {
      font-size: 14px;
    }
  }
}

.snippets {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 36px;

  &List {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.settings {
  font-family: Inter;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  background-color: var(--secondary-bg-color);
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0 2px 16px 0 rgba(20, 20, 20, 0.24),
    0 1.5px 4px 0 rgba(0, 0, 0, 0.2);

  &Title {
    color: var(--color-accent);
    border-bottom: 1px solid var(--notification-color);
    padding-bottom: 6px;
  }

  &Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    border-radius: 6px;
    padding: 8px 12px;

    .link {
      color: var(--color-accent);
      transition: color 0.2s linear;
      padding: 6px;

      &:hover {
        color: var(--color-purple);
      }
    }

    .select {
      font-size: 16px;
      background-color: transparent;
      border: 1px solid var(--notification-color);
      border-radius: 4px;
      padding: 6px;
      color: var(--color-accent);
    }
  }
}
