.main {
  @include page-padding-inline;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 36px;

  @include on-tablet {
    gap: 42px;
  }

  @include on-desktop {
    gap: 46px;
  }
}

.title,
.text {
  margin: 0;
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;

  gap: 24px;

  @include on-tablet {
    gap: 32px;
  }

  @include on-desktop {
    gap: 40px;
  }
}
